
<html>
    <body>
    
<div class="contener">
<h1 class="text-center"><%= title%></h1>

</div>
   
        <div class="div" style="justify-content:center;align-items: center;margin: 20px 120px;" >
            
            <html><head>
                <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
            </head></html>
            <table class="MY">
               <thead>
                    <tr>
                        <th > id   </th>
                        <th > transfer from </th>
                        <th>  transfer to  </th>
                        <th >  transferd date  </th>
                        <th >product id </th>
                    </tr>
                </thead>
                <tbody>
                   <% transferd_items.forEach((transfer)=>{                 
                        %>
                        <tr>
                            <td><%= transfer.id %></td>
                            <td><%= transfer.from %></td>
                            <td><%= transfer.to%></td>
                            <td><%= transfer.tdate%></td>
                            <td><%= transfer.product_id%></td>
                        </tr>
                        <%});
                           %>
                </tbody>
                
            </table>
        </div>
    </body>
</html>
